<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Show page for <%= foundUser.username %></h1>

    <h3><%= foundUser.dob %></h3>
    <h3><%= foundUser.phone %></h3>
    <h3><%= foundUser.gender %></h3>
    <h3><%= foundUser.cgpa %></h3>    
    
</body>
</html>